@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
     h1 {
          font-size: 60px;
     }

     #input {
    font-size: 30px;
    border-radius: 4px;
    flex-grow: 1;
    padding: 1.3em 2em;
    border: none;
     }

     #submitBtn {
    padding: 1em 2em;
    border-radius: 4px;
    border: none;
    background-color: #2d9800;
    color: #fff;
    cursor: pointer;
    font-size: 35px;
     }

     h5 {
     font-size: 40px;
     }

     #results {
     display: flex;
     flex-wrap: wrap;
     }
}



body {
     font-family: helvetica,arial, 'san-serif';
     background-color: #c2c2c2;
}
 .love {
     color: #d60000;
}
 .thumbnail {
     width: 300px;
     padding: 5px;
     background-color: #f2f2f2;
     -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.34);
     -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.34);
     box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.34);
     margin: 5px;
}
 .thumbnail:hover {
     opacity: 0.6;
     transition: 0.3s ease;
}
 nav {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 10px;
}
 #input {
     border-radius: 4px;
     flex-grow: 1;
     padding: 1em 2em;
     border: none;
}
 #submitBtn {
     padding: 1em 2em;
     border-radius: 4px;
     border: none;
     background-color: #2d9800;
     color: #fff;
     cursor: pointer;
}
 #submitBtn:hover {
     text-decoration: underline;
     background-color: #34dc29;
}
 .imgSpan {
     position: absolute;
     transform: translateY(-12px);
     cursor: pointer;
}

